body {
  margin: 0;
  background: #000; 
}
video { 
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -webkit-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);
    background: url('poster.jpg') no-repeat;
    background-size: cover;
}

.myHeadline { 
  font-family: 'Bungee Shade', cursive;
  font-weight:100; 
  color: black;
  margin: none;
  padding-top: 0;
  font-size: 80px;
  letter-spacing: 5px;
  text-align: center;
}

.myIcons { 
  font-family: 'Bungee Shade', cursive;
  font-weight:100; 
  color: black;
  margin: none;
  padding-top: 0;
  font-size: 90px;
  letter-spacing: 5px;
  text-align: center;
}

.social-icons {
    max-width: 980px;
    margin: 0 auto;
}

.icon {
    float: left;
    position: relative;
    width: 19%;
    height: 0;
    margin: 1% 0.5%;
    padding-bottom: 19%;

    @media all and (min-width: 640px) {
        width: 9%;
        padding-bottom: 9%;
    }

    &:last-of-type {
        margin-right: 0;
    }

    a {
        display: block;
        position: absolute;
        left: 0;
        width: 100%;
        height: 100%;
        border: 0;
        border-radius: 10px;
        background-color: #fff;
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: center center;
        transition: all .2s ease-out;

        &:hover {
            background-color: #222;
            background-size: 0%;
            transition: all .2s ease-out;
        }
    }
}

.icon__name {
    position: absolute;
    top: 50%;
    width: 100%;
    margin-top: -7px;
    color: #fff;
    font-size: 13px;
    text-align: center;
  
    transition: all .3s ease-out;
    opacity: 0;
    filter: blur(25px);
    transform: translateZ(0);
    will-change: transform;
  
    .icon:hover & {
        transition: all .3s ease-out;
        opacity: 1;
        filter: blur(0);
    }
}

.icon--linkedin a {
    background-color: #007fb1;
    background-image: url('../LinkedInLogo/White/In-White-121px-TM.png'); 
}

.icon--github a {
    background-color: #4183c4;
    background-image: url('../GithubLogo/PNG/GitHub-Mark-Light-120px-plus.png');
}

@media screen and (max-width: 500px) { 
  div{width:70%;} 
}
@media screen and (max-device-width: 800px) {
  html { background: url('poster.jpg') #000 no-repeat center center fixed; }
  #bgvid { display: none; }
}